.calendar{
  background-color: #fff5;
}

.day {
  font-size: 0.3rem;
  width: calc(100% / 7);
}
.day button, .day .session-btn {
  font-size: 0.3rem;
  padding: 2px;
  margin-bottom: 5px;
}
.day .session-btn:hover {
  background-color: #fff5;
}
.day .btn-check:checked+.session-btn {
  background-color: var(--bs-primary);
}
.day .booked {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    background-color: var(--bs-light);
  }
}
.weekDay,
.week {
  border-bottom: 1px solid #ddd;
}
.weekDay > div {
  flex: 1 1 0%;
  line-height: 30px;
}
.week {
  border-right: 1px solid #ddd;
}
.week > div {
  position: relative;
  flex: 1 1 0%;
  min-height: 90px;
  line-height: 1.5;
  border-left: 1px solid #ddd;
  padding: 10px 0;
}
.today {
  color: #000000;
  background-color: #ece4d888;
}
.sunday {
  color:#A00
}
.saturday {
  color: #080
}
.other {
  color: #bbb;
  background-color: #ddd8;
}